= form_for @article, { role: 'form' } do |f|
  .form-group
    = f.label :title
    = f.text_field :title, { class: 'form-control', placeholder: 'タイトルを入力' }

  .form-group
    = f.label :content
    = f.text_area :content, { class: 'form-control', rows: 10 }

  .form-group
    = f.label :categorizations
    %ul
      - Phoga::Category.all.each do |cat|
        %li
          %label
            %input{ type: 'checkbox', name: 'article[categorizations_attributes][][category_id]', checked: @article.categorizations.select{|c| c.category_id == cat.id }.any?, value: cat.id }
            = cat.name

  .form-group
    = f.submit (@article.persisted? ? '更新' : '保存'), { class: 'btn btn-primary' }
