= nested_form_for setup_categorizations(@article), { role: 'form' } do |f|
  - if @article.errors.any?
    .panel.panel-danger
      .panel-heading Error
      .panel-body
        %ul
          - @article.errors.full_messages.each do |message|
            %li= message

  .form-group
    = f.label :title
    = f.text_field :title, { class: 'form-control', placeholder: 'タイトルを入力' }

  .form-group
    = f.label :content
    = f.text_area :content, { class: 'form-control', rows: 10 }

  .row
    .col-sm-6
      = f.label :categorizations
      %ul
        = f.fields_for :categorizations do |cf|
          %li
            %label
              = cf.hidden_field :id
              = cf.hidden_field :category_id
              = cf.check_box :apply, { checked: cf.object.persisted? }
              = cf.object.category.name

    .col-sm-6
      = f.label :tags
      = f.text_field :tag_names, { value: @article.tag_names_string, placeholder: 'Add New', data: { role: 'tagsinput' }}

  = f.fields_for :custom_fields do |cf|
    .panel.panel-default
      .panel-heading
        カスタムフィールド
        = cf.link_to_remove '&times;'.html_safe, { class: 'close', data: { confirm: 'このカスタムフィールドを削除してよろしいですか？' } }
      .panel-body
        = cf.hidden_field :id if cf.object.persisted?
        .form-group
          = cf.label :name
          = cf.text_field :name, { class: 'form-control' }
        .form-group
          = cf.label :image
          = cf.file_field :image
        .form-group
          = cf.label :content
          = cf.text_area :content, { class: 'form-control', rows: 1 }
  %p= f.link_to_add 'カスタムフィールドを追加', :custom_fields

  .form-group
    = f.submit (@article.persisted? ? '更新' : '保存'), { class: 'btn btn-primary' }
