= form_for setup_categorizations(@article), { role: 'form' } do |f|
  .form-group
    = f.label :title
    = f.text_field :title, { class: 'form-control', placeholder: 'タイトルを入力' }

  .form-group
    = f.label :content
    = f.text_area :content, { class: 'form-control', rows: 10 }

  .row
    .col-sm-6
      = f.label :categorizations
      %ul
        = f.fields_for :categorizations do |cf|
          %li
            %label
              = cf.hidden_field :id
              = cf.hidden_field :category_id
              = cf.check_box :apply, { checked: cf.object.persisted? }
              = cf.object.category.name

    .col-sm-6
      = f.label :taggings
      %input#tag-name.form-control{ type: 'text', placeholder: 'タグ名を入力してEnterで追加' }
      %ul.taggings
      :plain
        <script id="tagging-template" type="text/template">
          <li class="tagging">
            <span class="tagging__name"><%= name %></span>
            <a href="#" class="tagging__remove-button">&times;</a>
            <input type="hidden" name="article[taggings_attributes][][tag_id]" val="<%= id %>" />
            <input type="hidden" name="article[taggings_attributes][][_destroy]" />
          </li>
        </script>

  .form-group
    = f.submit (@article.persisted? ? '更新' : '保存'), { class: 'btn btn-primary' }

    - Phoga::Category.all.each do |cat|
      %label
        %input{ type: 'checkbox', name: "article[categorizations_attributes][][category_id]", value: cat.id }
        = cat.name

