= form_for @article, { role: 'form' } do |f|
  .form-group
    = f.label :title
    = f.text_field :title, { class: 'form-control', placeholder: 'タイトルを入力' }

  .form-group
    = f.label :content
    = f.text_area :content, { class: 'form-control', rows: 10 }

  .row
    .col-sm-6
      = f.label :categorizations
      %ul
        - Phoga::Category.all.each do |cat|
          %li
            %label
              %input{ type: 'checkbox', name: 'article[categorizations_attributes][][category_id]', checked: @article.categorizations.select{|c| c.category_id == cat.id }.any?, value: cat.id }
              = cat.name

    .col-sm-6
      = f.label :taggings
      %input#tag-name.form-control{ type: 'text', placeholder: 'タグ名を入力してEnterで追加' }
      %ul.taggings
      :plain
        <script id="tagging-template" type="text/template">
          <li class="tagging">
            <span class="tagging__name"><%= name %></span>
            <a href="#" class="tagging__remove-button">&times;</a>
            <input type="hidden" name="article[taggings_attributes][][tag_id]" val="<%= id %>" />
            <input type="hidden" name="article[taggings_attributes][][_destroy]" />
          </li>
        </script>

  .form-group
    = f.submit (@article.persisted? ? '更新' : '保存'), { class: 'btn btn-primary' }
