!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %title Phoga
    %link{ 'data-url' => 'http://fonts.googleapis.com/css?family=Bubbler+One', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'phoga/application', media: 'screen'
    = javascript_include_tag 'phoga/application'
    = csrf_meta_tags
  %body
    .wrapper
      .navigation
        %nav.navbar
          .navbar-brandname
            %a{ 'data-url' => '#' , class: 'nav-effect' }Phoga
          %ul.nav-list
            %li
              = link_to articles_path, { class: 'nav-effect' } do
                %i.glyphicon.glyphicon-file
                記事一覧
            %li
              %a{ href: '#', class: 'nav-effect' }
                %i.glyphicon.glyphicon-folder-close
                カテゴリー
            -#%li
              %a{ 'data-url' => '#', class: 'nav-effect' }
                %span.glyphicon.glyphicon-tags &nbsp;タグ
            -#%li
              %a{ 'data-url' => '#', class: 'nav-effect' }
                %span.glyphicon.glyphicon-comment &nbsp;コメント
            -#%li
              %a{ 'data-url' => '#', class: 'nav-effect' } 
                %span.glyphicon.glyphicon-user &nbsp;管理者
          %ul.nav-list
            %li
              = link_to destroy_admin_session_path, { class: 'nav-effect', data: { method: 'delete' } } do
                ログアウト
            -#%li
      .main-container
        -#%button{ type: 'button', class: 'navbar-toggle expand-navigation-button', 'data-toggle' => 'collapse', 'data-target' => '.bs-navbar-collapse' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = yield
